<!------------------------------------------------------------------------------------------------------------------------------------------------------------------CONTINUADAS------------------------------------------------------>
<span class="Continuadas" *ngIf="seleccion=='Continuadas'">

    <body>
        <div class="container">
            <div class="section"></div>
            <div class="section"></div>
            <div class="section"></div>
            <div class="section"></div>
            <div class="section"></div>
        </div>
    </body>
</span>

<!------------------------------------------------------------------------------------------------------------------------------------------------------------------MOVIMIENTOS------------------------------------------------------>
<span class="Movimientos" *ngIf="seleccion=='Movimientos'">
</span>