<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">

    <button mat-stroked-button class="NoEscala"><a href="/">Inicio</a></button>
    <br>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Objetos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p (click)="refresh('ObjetosCSS', 'Taza')">Taza</p>
        <p (click)="refresh('ObjetosCSS', 'Planetas')">Planetas</p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <!--<mat-panel-title (click)="aleatorio('/Primer/')">-->
            <mat-panel-title>
            Cartas
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p (click)="refresh('Primer', 'Perretes')">Perretes</p>
        <p (click)="refresh('Primer', 'Guardamar')">Guardamar</p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Imagenes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p (click)="refresh('Efectos', 'Roto')">Grietas</p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Scroll
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p (click)="refresh('Scroll', 'Continuadas')">Secciones Continuadas</p>
        <!--<p (click)="refresh('/Scroll/Movimientos')">Secciones en Movimiento</p>-->
      </mat-expansion-panel>
    </mat-accordion>
    <br>
  </mat-drawer>

  <button class="BotonMenu" mat-flat-button (click)="drawer.toggle()">
    <img class="imagenMenu" src="../assets/menu.png">
    Menú</button>

    <app-objetos-css [seleccion]="seleccion" *ngIf="Panel == 'ObjetosCSS'"></app-objetos-css>
    <app-primer-componente [seleccion]="seleccion" *ngIf="Panel == 'Primer'"></app-primer-componente>
    <app-efectos [seleccion]="seleccion" *ngIf="Panel == 'Efectos'"></app-efectos>
    <app-scroll [seleccion]="seleccion" *ngIf="Panel == 'Scroll'"></app-scroll>
    

</mat-drawer-container>