<body>
	<div id="texto-Personal">
		<div id="presentacion">
			<div id="foto">
				<img id="imagen" src="../../assets/Foto.jpg"/>
			</div>
			<p class="h3">Ismael Mart&iacute;nez L&oacute;pez</p>
		</div>
		<div id="contacto">
                <div class="cuadro">
                    <img class="img" src="../../assets/002-phone.png">
                    <div class="contactoCol" id="telefono">
                        <b><p class="tit">Teléfono:</p></b>
                        <br>
                        <p class="resp">695754946</p>
                    </div>
                </div>

				<div class="cuadro">
                    <img class="img" src="../../assets/001-mail.png">
                    <div class="contactoCol" id="e-mail">
                        <b><p class="tit">Email:</p></b>
                        <br>
                        <p class="resp">Ismael_rafal@hotmail.com</p>
                    </div>
                </div>
                <br>
                <div class="cuadro">
                    <img class="img" src="../../assets/003-map.png">
                    <div class="contactoCol" id="Direccion">
                        <b><p class="tit">Localidad:</p></b>
                        <br>
                        <p class="resp">Alicante</p>
                    </div>
                </div>

                <div class="cuadro">
                    <img  class="img" src="../../assets/005-linkedin.png">
                    <div class="contactoCol" id="linkedin">
                        <b> <p class="tit">Linkedin:</p></b>
                        <br>
                        <p class="resp">Ismael Martínez López</p>
                    </div>
                </div>
		</div>
        <br>
		<div id="complementario">
			<div class="continfo">
				<p class="titulos">INFORMACION PERSONAL</p>
				<hr> <b>
					<p>Nacimiento</p>
				</b>
				<div class="contestacion">
					<p>28/12/1992</p>
				</div>
				<!-- <br> <b>
					<p>Residencia</p>
				</b>
				<div class="contestacion">
					<p>Alicante</p>
				</div> -->
				<br> <b>
					<p>Nacionalidad</p>
				</b>
				<div class="contestacion">
					<p>Espa&ntilde;ola</p>
				</div>
				<br> <b>
					<p>Estado civil</p>
				</b>
				<div class="contestacion">
					<p>Soltero</p>
				</div>
				<br>
			</div>
			<div class="continfo">
				<p class="titulos">COMPLEMENTARIA</p>
				<hr>
				<b><p>Idiomas</p></b>
                <p><br>Castellano Nativo<br>Valenciano fluido<br>Catalán fluido<br>Inglés nivel medio</p>
				<b>
					<br><br>
					<p>Desplazamiento</p>
				</b>
				<p><br>Carnet B2/Coche propio<br>Movilidad Geográfica</p>
				<b>
					<br><br>
					<p>Total disponibilidad</p>
				</b>
				<p><br>Horaria / Incorporación</p>

			</div>
			<div class="continfo">
				<p class="titulos">HABILIDADES</p>
				<hr><b>
					<p>Trabajo en equipo</p>
					<br>
					<p>Resolutivo</p>
					<br>
					<p>Comprometido</p>
					<br>
					<p>Autodidacta</p>
				</b>
			</div>
			<!--<p id="inscrito">*Inscrito en Garantía Juvenil, con lo cual la empresa recibirá una compensación de 4950€</p>-->
		</div>
		<div id="importante">
			<div class="container">
				<div class="row">
					<div class="col">
						<b><img class="icono" src="../../assets/001-notebook.png">Formaci&oacute;n Academica</b>
						<hr class="grande">
						<div class="contenedor">
							<div class="flecha">2019</div>
						</div> <b>
							<p class="h6">Desarrollo Aplicaciones Multiplataforma (DAM)</p>
						</b><br>
						<b>
							<p>E.F.A. El Campico</p>
						</b><br>
						<p>Competencias adquiridas: Lenguajes de programación:<br> Html, Css, Java, Android,
							PHP, Javascript. Frameworks: Angular e Ionic,<br> SASS, Laravel. Librerías: JQuery,
							Boostrap. Protocolos: json, Xml, http.</p><br>
						<div class="contenedor">
							<div class="flecha">2013</div>
						</div> <b>
							<p class="h6">Técnico Administración y finanzas (G.S.)</p>
						</b><br>
						<b>
							<p>I.E.S. Santiago Grisolia</p>
						</b><br>
						<p>Competencias adquiridas: Contabilidad, Facturación, Procedimientos<br> financieros, Gestión
							pública, Declaración de rentas, Nóminas, etc.</p><br>
						<!--	<div class="contenedor"><div class="flecha">2011</div></div> <b><h6>I.E.S. Santiago Grisolia</h6></b><br><p>Técnico en Gestión Administrativa (G.M.)</p></br>
								<p>Competencias adquiridas: Contabilidad, Facturación</p></br>-->
						<b>
							<p class="complementaria">Educación Complementaria</p>
						</b><br>
						<p class="comp">- Cámara de Comercio Alicante/Ulab: Curso de
							Programador<br>JavaScript/TypeScript + Angular, con una duración de 250h.</p><br>
						<p class="comp">- Plataforma Udemy: Cursos de Unity, Android, Spring, etc.</p>
					</div>

					<div class="w-100"></div>
					<div class="col">
						<b><img class="icono" src="../../assets/002-portfolio.png">Experiencia Laboral</b>
						<hr class="grande">

						<div class="contenedor">
							<div class="flecha">2020-21</div>
						</div> <b> 
							<p class="h6">QA Tester Engineer</p>
						</b> <p> (Junio de 2020 a actualidad)</p><br>
						<b>
							<p>Inetum España S.A.</p>
						</b><br>
						<p> Labores y Tecnologías: Diseño y ejecución de pruebas manuales con <br>Testlink, Jira, Atria, Postman.</p><br>


						<div class="contenedor">
							<div class="flecha">2020-20</div>
						</div> <b>
							 <p class="h6">Programador ERP </p> 
						</b><p> (6 meses de Enero a Junio)</p><br>
						<b>
							<p>Seidor Consulting S.L.</p>
						</b><br>
						<p> Labores y Tecnologías: ABAP, Sap S/4 HANA, Formularios, SAPUI5, <br>&nbsp Servicios OData, SAP
							Gateway,
							Fiori.</p><br>
						<!-- <p> - Competencias: Gestión de proyectos, Trabajo en equipo, <br>&nbsp Administración carga de
							trabajo.</p></br>-->
						<div class="contenedor"> 
							<div class="flecha">2019</div>
						</div> <b>
							<p class="h6">Programador Full-Stack</p>
						</b><br><b>
							<p>Proyecto Personal</p>
						</b><br>
						<p>Programación de TPV Multiplataforma realizado con Angular e Ionic<br> para el Frontend y
							Laravel para el Backend.</p>
						<br>
						<div class="contenedor">
							<div class="flecha">2018-19</div>
						</div> <b>
							<p class="h6">Programador Junior</p>
						</b> <p> (4 meses de Diciembre a Abril)</p><br>
						<b>
							<p>Telfy Telecom S.L. </p>
						</b>
						<p>&nbsp Prácticas de programación.</p>
						<br>
						<p>Aprendizaje: Framework Vuejs, Nociones Symfony.</p><br>
						<p>Competencias: Administración BD Mysql, Desarrollo de scripts.</p><br>

						<!-- <div class="contenedor">
							<div class="flecha">2014-16</div>
						</div> <b>
							<h6>Comercial Administrativo</h6>
						</b><br><b>
							<p>TTES. VegaRafal S.L.</p>
						</b></br>
						<p>Competencias: Logistica de tráfico de transportes por carretera,</br> Contabilidad,
							Facturación, Nóminas, Cobros/Pagos, etc</p></br> -->
						<!-- <div class="contenedor">
							<div class="flecha">2013-14</div>
						</div> <b>
							<h6>Auxiliar Administrativo</h6>
						</b><br>
						<b>
							<p>Traserco Coop. Valenciana</p>
						</b></br>
						<p>Competencias: Gestión de documentos de los cooperativistas, Nóminas.</p></br>-->
						<b>
							<p class="complementaria">Experiencia Adicional</p>
						</b><br>
						<p class="comp">- TTES. VegaRafal SL: Comercial Admon; Logística de transportes por carretera.</p>
						<p class="comp">- Traserco Coop. V.: Administrativo; Facturación, Contabilidad, Nóminas.</p><br>
						<p class="comp">- Pizzeria D´Tivoli: Camarero de mesas y barra.</p><br>
						<p class="comp">- Diverty School: Animador de eventos infantiles y excursiones.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
