//-----------------------------------------------PERRETES--------------------------------------------------------
.perretes{
    body{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: #262626;
    }

    .box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 640px;
        height: 311px;
        background: #000;
    }
    .about{
        padding: 40px;
        color: #fff;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        h2{
            margin: 0;
            padding: 0;
            font-size: 30px;
            text-transform: uppercase;
        }
    }
    .figure{
        width: 100%;
        height: 100%;
    }
    .figure:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: url(src/assets/perros.jpg);
            transform-origin: bottom;
            transition: .5s;
    }

    .box:hover .figure:before{
        transform: rotateX(90deg) translateY(50%);
    }

    .figure:after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background: url(src/assets/perros.jpg);
        transform-origin: top;
        transition: .5s;
        background-position: 320px;
    }

    .box:hover .figure::after{
    transform: rotateX(90deg) translateY(-50%);
    }
}
//-----------------------------------------------CARTA-----------------------------------------------------------
.carta{
    body{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: #d3d3d3;
    }
}