
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------PERRTES------------------------------------------------------>
<span *ngIf="seleccion=='Perretes'" class="perretes">
<body>
    <div  class="box">
      <div class="about">
        <h2>Amor Perruno</h2>
        <br>
        <p>En esta imagen podemos ver a Dora (Pastor Alemán) y Dobby (Chucho Común), en su primer día juntos, corrieron y jugaron mucho, 
          por eso están tan cansados y podemos observar que están descansando
        </p>
      </div>
      <div class="figure">
      </div>
    </div>
  </body>
</span>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------------------CARTA------------------------------------------------------->
<span *ngIf="seleccion=='Guardamar'"class="Guardamar">
  <body>
    <div class="container">
      <div class="card">
        <div class="imgBox Primera">
          <img src="../../assets/yoEnGuardamar.jpg">
        </div>
        <div class="content">
          <h2>Tarjeta Primera</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptatibus, quis beatae similique modi facilis odit. Esse reiciendis itaque ad recusandae libero doloremque dolorum! Tempora quaerat alias corporis eius iure!</p>
        </div>
      </div>
      <div class="card">
        <div class="imgBox">
          <img src="../../assets/Pareja.jpg">
        </div>
        <div class="content">
          <h2>Tarjeta Segunda</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptatibus, quis beatae similique modi facilis odit. Esse reiciendis itaque ad recusandae libero doloremque dolorum! Tempora quaerat alias corporis eius iure!</p>
        </div>
      </div>
      <div class="card">
        <div class="imgBox">
          <img src="../../assets/PuestaDeSol.jpg">
        </div>
        <div class="content">
          <h2>Tarjeta Tercera</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptatibus, quis beatae similique modi facilis odit. Esse reiciendis itaque ad recusandae libero doloremque dolorum! Tempora quaerat alias corporis eius iure!</p>
        </div>
      </div>
    </div>
  </body>
</span>