.lista{
  list-style-type: none;
}
.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .example-sidenav {
    padding: 20px;
  }

  .BotonMenu{
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
    z-index: 1;
  }
  .imagenMenu{
    width: 12px;
    height: 12px;
  }

  .NoEscala{
    display: block;
    width: 100%;
  }